@use "variables" as v;

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Neuton", sans-serif;
}

/* BODY */
body {
    background: #f5f5f5;
    color: v.$text;
}

/* MAIN */
main {
    padding: 2rem 1rem;
}

/* ARTÍCULOS */
article {
    transition: v.$transition;

    &:hover {
        transform: translateY(-5px);
    }
}

/* IMÁGENES */
img {
    max-width: 100%;
    display: block;
}