@use "variables" as v;
@use "mixins" as m;

.grid-ejercicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    @include m.tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include m.mobile {
        grid-template-columns: 1fr;
    }
}

.card-ejercicio {
    @include m.card;

    h3 {
        margin-bottom: 10px;
    }

    p {
        margin-top: 10px;
    }
}

/* VIDEO */
.ratio {
    position: relative;
    padding-top: 56.25%;
    border-radius: 10px;
    overflow: hidden;

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

/* BENEFICIOS */
.beneficios-ej {
    margin-top: 3rem;
}

/* CTA */
.cta {
    margin-top: 3rem;
}