@mixin card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

/* TABLET */
@mixin tablet {
    @media (max-width: 768px) {
        @content;
    }
}

/* MOBILE */
@mixin mobile {
    @media (max-width: 480px) {
        @content;
    }
}